@media (max-width: 1230px){

}

@media (max-width: 990px){
	.skils{
		display: grid;
		grid-template-columns: 1fr 1fr ;
		grid-template-rows: 1fr 1fr 1fr; 
		grid-gap: 15px;
	}
}

@media (max-width: 770px){
	.img__modal{
		/*max-width: 420px;*/
	}
	.modal__content{
		width: 100%;
		height: 100%;
	}
	.modal__content1{
		width: 100%;
		height: 100%;
	}
	.nav.active {
		display: block;
		height: 1024px;
		border-top: 3px solid #eea731;
	}

	.header__inner{
		flex-direction: column;
	}

	.header{
		position: fixed;
		background: rgba(251, 176, 52, 1);
	}

	.nav__link{
		display: block;
		margin: 0;
		padding: 8px 20px;
	}
	.nav-toggle{
		display: block;
	}
	.nav{
		display: none;
		width: 100%;

		position: absolute;
		top: 100%;
		left: 0;

		background: rgba(251, 176, 52, 0.95);
	}
}

@media (max-width: 640px){
	.img__modal{
		max-width: 500px;
		max-height: ;
	}
}

@media (max-width: 575px){
	.img__modal{
		max-width: 420px;
	}
	.skils{
		display: grid;
		grid-template-columns: 1fr ;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
		grid-gap: 15px;
	}
	.price{
		text-align: center;
	}
}

@media (max-width: 475px){
	.img__modal{
		max-width: 320px;
	}
	.modal__content{
		padding-top: 5%;
	}
	.modal__content1{
		padding-top: 5%;
	}
	.elem{
		grid-template-columns: 1.5fr 1fr 1fr;
	}
	.hr{
	    width: 67%;
	}
}

@media (max-width: 360px){
	.img__modal{
		max-width: 240px;
	}
	.modal__content{
		padding-top: 7%;
	}
	.modal__content1{
		padding-top: 7%;
	}
	.hr{
	    width: 60%;
	}
}

