body{
	margin: 0;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

	font-size: 15px;
	line-height: 1.6;
}

*,
*:before,
*:after{
	box-sizing: border-box;
}

.container{
	wight: 100%;
	padding: 0 15px;
	max-width: 1500px;
	margin: 0 auto;
}

.btn{
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    margin: 20px auto;
    border: 3px solid rgba(251, 176, 52, 1);
    color: rgba(251, 176, 52, 1);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: background 0.1s linear, color 0.1s linear;
    text-shadow: rgba(251, 176, 52, 1) 0.5px 0.5px;
}

.btn:hover{
	background-color: rgba(251, 176, 52, 1);
	color: #fff;
	text-shadow: #fff 0.5px 0.5px;
}

/* header */
.header{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background: rgba(251, 176, 52, 0.6);
	
	color: #000;
}

.header.fixed{
	padding: 10px 0;

	background: rgba(251, 176, 52, 1);

	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	transform: translate3d(0, 0, 0);
}

.header.active{
	background-color: #fff;
	/*text-shadow: 1px 1px 1px #444;*/
}

.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.header__logo{
	font-size: 20px;
	font-weight: 1100;
	color: #000;
	/*text-shadow: 1px 1px 1px #444;*/
	text-transform: uppercase;
}
/* navigation */
.nav{
	font-size: 16px;
	text-transform: uppercase;
}

.nav__link{
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	position: relative;

	color: #000;
	/*text-shadow: 1px 1px 1px #999;*/
	text-decoration: none;

	transition: color 0.1s linear;
}

.nav__link:after{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	
	background-color: #fff;
	text-shadow: 1px 1px 1px #444;
	opacity: 0;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity 0.1s linear;

}

.nav__link:hover{
	color: #fff;
}


.nav__link:hover:after,
.nav__link.active:after{
	opacity: 1;
}

.nav__link.active{
	color: #fff;
}

/* Nav-toggle */
.nav-toggle{
	width: 30px;
	padding: 5px 0;
	display: none;

	font-size: 0;
	color: transparent;

	border: 0;
	background: none;
	cursor: pointer;

	position: absolute;
	top: 24px;
	right: 24px;
	z-index: 1;

}

.nav-toggle__item{
	display: block;
	width: 100%;
	height: 3px;

	background-color: #fff;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item{
	background: none;
}

.nav-toggle.active .nav-toggle__item:before{
	transform-origin: left bottom;
	transform: rotate(45deg) translateX(-4px);
}
.nav-toggle.active .nav-toggle__item:after{
	transform-origin: left top;
	transform: rotate(-45deg) translateX(-4px);
}

.nav-toggle__item:before,
.nav-toggle__item:after{
	content: "";
	width: 100%;
	height: 3px;

	background-color: #fff;

	position: absolute;
	left: 0;
	z-index: 1;

	transition: transform .2s linear;
}
.nav-toggle__item:before{
	top: -8px;
}
.nav-toggle__item:after{
	bottom: -8px;
}

/*intro*/
.intro{
	width: 100%;
	height: 100vh;

	/*background: linear-gradient(to bottom, #f38181, #fce38a);*/
	background: url("../images/intro.png") center no-repeat;
	background-size: cover;
}


/*block*/
.block{
	margin: 0 auto;
	text-align: center;
}
.block__title{
	margin: 25px auto 0;
}
.block__text{
	margin: 0 auto 10px;
	font-weight: 400;
	font-size: 18px;
}
.block1{
}

/*skils*/
.skils{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr; 
	grid-gap: 15px;

}
.skil__item{
	display: flex;
}
.img__skil{
	height: 50px;
}
.elem__skil:nth-child(1) {
    margin: 0 20px 0 0;
}
.p__skil{
 	margin: 3px 0 0;
 	font-size: 16px;
}
.title__skil{
	margin: 0 0;
}

.container__map{
	wight: 100%;
	padding: 0 15px;
	max-width: 1500px;
	margin: 10px auto;
	
}
.section__map{
	background-color: #f2f3f4;
}

